# Random Forest Classifier 

## Team: 3 Musketeers

##  Sudent Names:

* Anu Sebastian - 012496276
* Ravali Nagabandi - 011530454
* Saloni Sharad Bhalerao - 012466623

##    Github: https://github.com/anuksebastian/3musketeers

##    Team Contribution:

1.  Data pre-processing - Anu, Saloni
2.   Training the model - Ravali, Saloni
3.   Evaluating the model - Ravali, Anu

###    Business Objective:

To analyze the dataset for forest fires and to compare the predictions got using decision tree classifier and random forest classifier

### Part-1 : Decision tree for predicting forest fires -recap

In [1]:
import pandas as pd
col_names = ['X','Y','month','day','FFMC','DMC','DC','ISI','temp','RH','wind','rain','area','category']
fire = pd.read_csv('C:/Fall2018/ML/datasets/forestfires_0918.csv')
fire.sort_values('temp', inplace=True)
fire.head()

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,category
280,4,6,dec,fri,84.7,26.7,352.6,4.1,2.2,59,4.9,0.0,9.27,0
282,6,3,feb,sun,84.9,27.5,353.5,3.4,4.2,51,4.0,0.0,0.00,0
279,4,4,dec,mon,85.4,25.4,349.7,2.6,4.6,21,8.5,0.0,9.77,0
278,4,4,dec,mon,85.4,25.4,349.7,2.6,4.6,21,8.5,0.0,22.03,1
277,3,4,dec,mon,85.4,25.4,349.7,2.6,4.6,21,8.5,0.0,10.73,1

In [2]:
fires_attributes = fire.columns.values.tolist()
number_of_columns = len(fires_attributes)
# Data preperation - Convert month and day from string values to numerical values
months_table = ['jan', 'feb', 'mar', 'apr', 'may', 'jun', 
                'jul', 'aug', 'sep', 'oct', 'nov', 'dec']
days_table =   ['sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat']

fire['month'] = [months_table.index(month) for month in fire['month'] ]
fire['day'] =   [days_table.index(day)     for day   in fire['day']   ]

fire['X'] -= 1
fire['Y'] -= 2

fire.head()
# Excluding row headers
for idx in list(range(4, number_of_columns - 1)):  
    fire[fires_attributes[idx]] = fire[fires_attributes[idx]] - \
                                   fire[fires_attributes[idx]].mean()

In [3]:
from sklearn.tree import DecisionTreeClassifier
X = fire.drop(['area','category'],axis=1)
Y = fire.loc[:, ['category']]

In [4]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, Y, random_state=1)

In [5]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [6]:
clf.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

### Accuracy Score using Decision Tree Classifier for predicting forest fires

In [7]:
y_predict = clf.predict(X_test)

from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_predict)

0.7307692307692307

### Part 2 Using Random Forest Classifier

In [8]:
import pandas as pd
col_names = ['X','Y','month','day','FFMC','DMC','DC','ISI','temp','RH','wind','rain','area','category']
fire = pd.read_csv('C:/Fall2018/ML/datasets/forestfires_0918.csv')
fire.sort_values('temp', inplace=True)
fire.head()

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,category
280,4,6,dec,fri,84.7,26.7,352.6,4.1,2.2,59,4.9,0.0,9.27,0
282,6,3,feb,sun,84.9,27.5,353.5,3.4,4.2,51,4.0,0.0,0.00,0
279,4,4,dec,mon,85.4,25.4,349.7,2.6,4.6,21,8.5,0.0,9.77,0
278,4,4,dec,mon,85.4,25.4,349.7,2.6,4.6,21,8.5,0.0,22.03,1
277,3,4,dec,mon,85.4,25.4,349.7,2.6,4.6,21,8.5,0.0,10.73,1

In [9]:
fires_attributes = fire.columns.values.tolist()
number_of_columns = len(fires_attributes)
# Data preperation - Convert month and day from string values to numerical values
months_table = ['jan', 'feb', 'mar', 'apr', 'may', 'jun', 
                'jul', 'aug', 'sep', 'oct', 'nov', 'dec']
days_table =   ['sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat']

fire['month'] = [months_table.index(month) for month in fire['month'] ]
fire['day'] =   [days_table.index(day)     for day   in fire['day']   ]

fire['X'] -= 1
fire['Y'] -= 2

fire.head()
# Excluding row headers
for idx in list(range(4, number_of_columns - 1)):  
    fire[fires_attributes[idx]] = fire[fires_attributes[idx]] - \
                                   fire[fires_attributes[idx]].mean()

In [10]:
print(fire.head())

     X  Y  month  day      FFMC       DMC          DC       ISI       temp  \
280  3  4     11    5 -5.944681 -84.17234 -195.340039 -4.921663 -16.689168
282  5  1      1    0 -5.744681 -83.37234 -194.440039 -5.621663 -14.689168
279  3  2     11    1 -5.244681 -85.47234 -198.240039 -6.421663 -14.289168
278  3  2     11    1 -5.244681 -85.47234 -198.240039 -6.421663 -14.289168
277  2  2     11    1 -5.244681 -85.47234 -198.240039 -6.421663 -14.289168

            RH      wind      rain       area  category
280  14.711799  0.882398 -0.021663  -3.577292         0
282   6.711799 -0.017602 -0.021663 -12.847292         0
279 -23.288201  4.482398 -0.021663  -3.077292         0
278 -23.288201  4.482398 -0.021663   9.182708         1
277 -23.288201  4.482398 -0.021663  -2.117292         1

In [11]:
from sklearn.ensemble import RandomForestClassifier

In [12]:
X = fire.drop(['area','category'],axis=1)
Y = fire.loc[:, ['category']]

In [13]:
rnc = RandomForestClassifier(n_estimators = 200)

In [14]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=101)

In [15]:
rnc.fit(X_train, y_train)

C:\Users\anuks\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [16]:
pred = rnc.predict(X_test)

### Accuracy Score using Random Forest Classifier

In [17]:
y_predict = clf.predict(X_test)

from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_predict)

0.9230769230769231

### Conclusion : Random Forest Classifier is better suited for predicting forest fires than decision tree classifier.